.rec-root{
    display: flex;
    /* flex-direction: 'row'; */
    align-items: inherit;
    width: -webkit-fill-available;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width:none;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    background-color: rgba(192,192,192, 0.2);
}

.rec-root::-webkit-scrollbar{
display: none;
}

.rec-maincard{
    flex: 0 0 auto;
    /* width: 130px; */
    height: 190px;
    margin: 7px;
    background-color: rgba(192,192,192, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.rec-poster{
    width: 130px;
    height: 190px;
    border-radius: 5px;
}

.rec-castinfo{
    margin: 5px;
}


