# ─── Frontend (Auth.js) ──────────────────────────────
AUTH_SECRET=your-auth-secret-here
AUTH_GOOGLE_ID=your-google-client-id
AUTH_GOOGLE_SECRET=your-google-client-secret
AUTH_GITHUB_ID=your-github-client-id
AUTH_GITHUB_SECRET=your-github-client-secret

# ─── Backend (TMDB) ─────────────────────────────────
TMDB_URL=https://api.themoviedb.org/3
TMDB_API_KEY=your-tmdb-api-key

# ─── Backend (RapidAPI) ─────────────────────────────
RAPIDAPI_UTELLY_API_KEY=your-utelly-key
RAPIDAPI_UTELLY_URL=https://utelly-tv-shows-and-movies-availability-v1.p.rapidapi.com
RAPIDAPI_WATCHMODE_URL=https://api.watchmode.com/v1
