NODE_ENV=production

PORT=8000

# Logger settings
APP_ID=api
LOG_LEVEL=debug


REQUEST_LIMIT=100kb


# Database
MONGO_URI=mongodb://localhost:27017/bingefeast
LOCAL_CONNECTION_STRING=mongodb://localhost:27017/express-mongo

# TMDB API
TMDB_URL=https://api.themoviedb.org/3
TMDB_API_KEY=your-tmdb-read-access-token

# RapidAPI
RAPIDAPI_UTELLY_API_KEY=your-utelly-key
RAPIDAPI_UTELLY_URL=https://utelly-tv-shows-and-movies-availability-v1.p.rapidapi.com
RAPIDAPI_WATCHMODE_URL=https://api.watchmode.com/v1
